.n-wrapper {
    margin-left: 250px;
    margin-right: 250px;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    top: 0;
  }
  .n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 1rem;
  }
  .n-name {
    font-size: 2rem;
    font-weight:600;
  }
  .n-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
  }
  .n-list {
    flex: 10;
  }

  .n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  
  .n-list > ul :hover {
    color: var(--firts-color);
    cursor: pointer;
  }
  
  .btn-contact {
    background-color:var(--firts-color);
    cursor: pointer;
    border: 1px solid var(--firts-color);
    border-radius: 4px;
    line-height: 2.5;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .btn-contact:hover {
    background-color: var(--second-color);
    cursor: pointer;
    border: 1px solid var(--firts-color);
    line-height: 2.5;
    padding: 0 20px;
    color: var(--firts-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  
  @media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
  }